{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">

		<div class="col-md-6 col-md-offset-3 col-md-6 pb-2 pt-2 px-2 bg-success">
			<div class="card">

				<img class="card-img-top" src="{{ base_url }}/css/gardens.png" height="100px"  alt="Rhododendron Garden">
      
	  			<div class="card-img-overlay">
					<p class="card-text text-white">
		   				<span style="font-family:'Great Vibes', serif; font-size:32px;">Familiaris </span>
						<span style="font-size:32px;">Reset Password</span>
					</p>
  				</div>

  			</div>

  			<div class="card">
				
  				<div class="card-body">
				    <form action="{{ path_for('auth.password.reset') }}" method="post" autocomplete="off">

				    	<div class="form-group{{ validationErrors.password_new ? ' has-warning' : '' }} row">
				    		<label class="form-control-label col-4" for="password_new">New Password</label>
				    		<div class="col-7">
								<input type="password" name="password_new" id="password_new" class="form-control{{ validationErrors.password_new ? ' form-control-warning' : ''}} form-control-sm">

								<meter min="0" max="4" id="password-strength-meter-new" class="mb-0"></meter>
								<div id="password-strength-text-new" class="pt-0"><small>Password strength indicator</small></div>

								<div class="form-control-feedback text-danger">{{ validationErrors.password_new ? validationErrors.password_new | first : ''}}
								</div>
					    	</div>
					    </div>


					    <div class="form-group{{ validationErrors.password_confirm ? ' has-warning' : '' }} row">
				    		<label class="form-control-label col-4" for="password_confirm">Confirm Password</label>
				    		<div class="col-7 mt-1">
								<input type="password" name="password_confirm" id="password_confirm" class="form-control{{ validationErrors.password_confirm ? ' form-control-warning' : ''}} form-control-sm">
								<div class="form-control-feedback text-danger">{{ validationErrors.password_confirm ? validationErrors.password_confirm | first : ''}}
								</div>
					    	</div>
					    </div>

					    <input type="hidden" name="{{email}}">
					    <input type="hidden" name="{{hashIdentifier | url_encode}}">
				    	
						<button type="submit" class="btn btn-success">Reset password</button>

						<a href="{{ path_for('home') }}" role="button" class="btn btn-secondary">Cancel</a>

						{{ csrf.field | raw }}
				    </form>
				    
				 </div>
			</div>
		</div>
	</div>


{% endblock %}