{% extends 'templates/app.twig' %}

{% block content %}

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav lower">

    </div>
    <div class="col-sm-8 text-left"> 
		<h2 class="bg-success display-7 pt-2 pb-2 pl-2 text-white">Invite someone to become a member.</h2>
		<p>Enter the name and email address of the person you would like to invite to become a member of <span style="font-family:'Great Vibes', serif; font-size:20px;">Familiaris</span>. We will send them an email containing an invitation code that will enable them to sign up to <span style="font-family:'Great Vibes', serif; font-size:20px;">Familiaris</span>.</p>
		<p><strong>Please, only invite someone if you believe they are:</strong></p>
		<ul><strong>
			<li> a member of our family, and</li>
			<li> are 16 years of age or over.
		</strong></ul>
		<br>
		<em>If you want your own child to become a member, go to </em><span><a href="#">My Membership</a></span><em> and select </em>Join Child.
		<hr>
		<form action="{{ path_for('invite') }}" method="post" autocomplete="off">
	        <div class="form-group {{ validationErrors.first_name ? ' has-warning' : '' }} row">
	            <label class="col-form-label col-3" for="firstName">First name</label>
	            <div class="col-6">
		            <input type="text" class="form-control{{ validationErrors.first_name ? ' form-control-warning' : ''}} " name="first_name" id="firstName" placeholder="The person's first name or nickname" value="{{ old.first_name }}">
		            <div class="form-control-feedback text-danger">{{ validationErrors.first_name ? validationErrors.first_name | first : ''}}
					</div>
				</div>
	        </div>

	        <div class="form-group {{ validationErrors.last_ame ? ' has-warning' : '' }} row">
	            <label class="col-form-label col-3" for="surname">Last Name</label>
	            <div class="col-6">
		            <input type="text" class="form-control{{ validationErrors.last_name ? ' form-control-warning' : ''}} " name="last_name" id="lastName" placeholder="The person's last name" value="{{ old.last_name }}">
		            <div class="form-control-feedback text-danger">{{ validationErrors.last_name ? validationErrors.last_name | first : ''}}
					</div>
				</div>
	        </div>

	        <div class="form-group {{ validationErrors.email ? ' has-warning' : '' }} row">
	            <label class="col-form-label col-3" for="email">Email address</label>
	            <div class="col-6">
		            <input type="email" class="form-control{{ validationErrors.email ? ' form-control-warning' : ''}} " name="email" id="email" placeholder="name@domain.com" value="{{ old.email }}">
		            <div class="form-control-feedback text-danger">{{ validationErrors.email ? validationErrors.email | first : ''}}
					</div>
				</div>
	        </div>

	        <div class="form-group {{ validationErrors.confirm_email ? ' has-warning' : '' }} row">
	            <label class="col-form-label col-3" for="emailConfirm">Confirm Email address</label>
	            <div class="col-6">
		            <input type="email" class="form-control{{ validationErrors.confirm_email ? ' form-control-warning' : ''}} " name="confirm_email" id="emailConfirm" placeholder="name@domain.com" value="{{ old.confirm_email }}">
		            <div class="form-control-feedback text-danger">{{ validationErrors.confirm_email ? validationErrors.confirm_email | first : ''}}
					</div>
				</div>
	        </div>

	         <div class="form-group {{ validationErrors.confirm_age ? ' has-warning' : '' }} row">
				<div class="float-right">
		            <label class="btn" for="confirm_age" class="form-control-label"><strong>I confirm that this individual is aged 16 or over</strong></label>
		            	<input type="checkbox"  class="{{ validationErrors.confirm_age ? ' form-control-warning' : ''}}" id="confirm_age" autocomplete="off" name="confirm_age" value="{{ old.confirm_age }}">
		            <div class="form-control-feedback text-danger">{{ validationErrors.confirm_age ? validationErrors.confirm_age | first : ''}}</div>
				</div>
			</div>

			<div>
			
			</div>

	        <button type="submit" class="btn btn-primary btn-md">Invite</button>
	        {{ csrf.field | raw }}
	    </form>
	</div>
  </div>
</div>

{% endblock %}