{% extends 'templates/app.twig' %}

{% block content %}

<div class="jumbotron" id="membership">
  <h1 class="display-3 text-white mb-0">Membership</h1>
  <p class="display-6 text-white float-right mt-4">Hampton Court</p>
</div>
   
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav lower text-sm-left">
      <p><a href="{{ path_for('auth.signup') }}">Sign Up</a></p>
      <p><a href="{{ path_for('invite') }}">Invite</a></p>
    </div>

    <div class="col-sm-8 text-left"> 
        <p>Members of <span style="font-family:'Great Vibes', serif; font-size:24px;">Familiaris</span> are able to view and edit details of people on our family tree. Normally, members are also on the family tree.</p>
        <hr>
        <h4>How do I become a member of <span style="font-family:'Great Vibes', serif; font-size:28px;">Familiaris</span>?</h4>
        <p>Membership of <span style="font-family:'Great Vibes', serif; font-size:24px;">Familiaris</span> is by invitation from existing members. To become a member, you should contact an existing member to obtain an invitation. You will then be able to register and become a member.</p>
        <p>If you already have an invitation, click the button below.</p>
        <a class="btn btn-primary btn-md" href="{{ path_for('auth.signup') }}" role="button">Sign up</a>
        <p>Once you are a member you can login to view and edit our family tree.</p>

        <hr>

        <h4>How do I invite someone to join <span style="font-family:'Great Vibes', serif; font-size:28px;">Familiaris</span>?</h4>
        <p>You can invite someone by clicking here:</p>

        <a class="btn btn-primary btn-md" href="{{ path_for('invite') }}" role="button">Invite</a>
        
    </div>

    <div class="col-sm-2 sidenav lower">
      <a class="btn btn-success btn-sm btn-block" href="" role="button" data-toggle="tooltip" data-placement="top" title="Only the last 10 notices are shown. Click here to see all notices">Notices</a>

      {% for notice in notices|reverse %}

        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100">
            <h6 class="mb-1">{{ notice.heading }}</h6>
          </div>
          <small class="mb-1 pl-0 ml-0 text-left">{{ notice.notice}}</small>
          <small class="d-flex w-100 mb-1">{{ notice.created_at.toFormattedDateString() }}</small>
        </div>

      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}